.contact_section {
  height: 350px;

  background-color: $bg-primary;
  color: $text-light;

  text-align: center;
}

.contact_section input {
  border: 2px solid $bg-light;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  padding: 10px;
}

@media only screen and (min-width: 768px) { 
  .contact_section .container form {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .contact_section .container form .btn {
    margin-top: 0;
  }

  .contact_section .container form {
    margin-top: 30px;
  }

  .contact_section input {
    width: 250px;
    height: 48px;
    margin: 0 10px;
  }


}