
$text-font: 'Montserrat', sans-serif;

$weight-bold: 800;
$weight-semi-bold: 600;
$weight-light: 300;

html {
  font-size: 16px; 
}

body {
  font-family: $text-font;
  color: $text-dark;
  line-height: 1.5;
  // color: $text-secondary;
}

// texte
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// titles
.title {
  margin-top: 70px;

  font-size: 1.6em;
  font-weight: $weight-bold;
}

.container-title .circles {
  color: $text-primary;
}

.subtitle {
  margin: 45px 0 30px 0;

  font-family: 'Lora';
  font-size: 1.4em;
  font-weight: $weight-bold;

  opacity: .75;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 1.7em;
  }
  
  .subtitle { 
    font-size: 1.5em;
  }
}

// weights
.bold {
  font-weight: $weight-bold;
}

// .mark {
//   font-weight: $weight-bold;
//   color: $text-secondary;
// }

// .mark-primary {
//   font-weight: $weight-bold;
//   color: $text-primary;
// }